*.cmd
artifacts/
*.binlog
**/Properties/launchSettings.json


# IDE folders & files
.vs/
.vscode/
.idea/
.history
.DS_Store
_ReSharper*/
*.[Rr]e[Ss]harper
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build artifacts
[Aa]rtifacts/
[Bb]in/
[oO]bj/
[tT]mp/
BenchmarkDotNet.Artifacts/
StyleCopReport.xml
*.dotCover
*.coverage
*.coveragexml
*.DotSettings


# Package folders
[Pp]ackages/
node_modules/

# Log files & folders
.log

# Visual Studio Profiler & Trace files
*.psess
*.vsp
*.vspx
*.sap
*.e2e

# Terraform files
.terraform/
*.tfstate*
terraform.tfstate
terraform.tfvars
