# IDE folders & files
.vs/
.vscode/
.idea/
.history
.DS_Store
_ReSharper*/
*.[Rr]e[Ss]harper
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
**/Properties/launchSettings.json

# Build artifacts
[Aa]rtifacts/
[Bb]in/
[oO]bj/
[tT]mp/
BenchmarkDotNet.Artifacts/
StyleCopReport.xml
*.dotCover
*.coverage
*.coveragexml

# Package folders
[Pp]ackages/
node_modules/

# Log files & folders
*.log
*.binlog

# Visual Studio Profiler & Trace files
*.psess
*.vsp
*.vspx
*.sap
*.e2e
