<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="myget ServiceTitan" value="https://www.myget.org/F/servicetitan/auth/9a28cbf7-f775-434a-884a-bf1127033860/api/v3/index.json" />
    </packageSources>
    <bindingRedirects>
      <add key="skip" value="True" />
      <add key="successRequired" value="False" />
    </bindingRedirects>
    <config>
        <add key="dependencyVersion" value="Lowest" />
    </config>
</configuration>
