<Text Margin="Margin.Is1.OnY">
    <span>Component state: </span>
    @if (Component.IsLoading) {
        <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
        <b>Loading...</b>
    } else if (Component.IsUpdating) {
        <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
        <b>Updating...</b>
    } else if (Component.IsUpdatePending) {
        <div class="spinner-grow spinner-grow-sm text-secondary" role="status"></div>
        <b class="text-secondary">Update pending...</b>
    } else {
        <span class="oi oi-check" aria-hidden="true"></span>
        <b>In sync.</b>
    }
</Text>

@code {
    [Parameter]
    public StatefulComponentBase Component { get; set; } = null!;
}
