@page "/"

<div class="jumbotron">
    <h1 class="display-4">
        <a href="https://github.com/servicetitan/Stl.Fusion" target="_blank">TodoApp: Fusion+Blazor Template</a>
    </h1>

    <p>To create your own app based on it:</p>
    <ul>
        <li>Copy it to a new folder</li>
        <li>Search for "Templates.TodoApp" everywhere in the new solution and replace it to your own project name</li>
        <li>Modify whatever you like!</li>
    </ul>

    <hr class="my-4">
    <p class="lead">Please share your feedback once you're done playing with it!</p>
    <p class="lead">
        <Button Type="ButtonType.Link" Color="Color.Primary" Size="Size.Large"
                To="https://forms.gle/TpGkmTZttukhDMRB6"
                Target="Target.Blank">
            Share your feedback
        </Button>
    </p>
</div>
