@page "/serverTime"
@using System.Threading
@using Templates.Blazor2.Abstractions
@inherits LiveComponentBase<DateTime>
@inject ITimeService Time

@{
    var time = State.LastValue.ToString("F") ?? "n/a";
    var error = State.Error;
}

<h1>Server Time</h1>

<StatefulComponentState Component="@this" />

@if (error != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @error.Message
    </div>
}

<p>Server Time: @time</p>

<button class="btn btn-primary" @onclick="@Refresh">Refresh</button>

@code {
    protected override void OnInitialized()
    {
        StateHasChangedTriggers = StateEventKind.All;
        base.OnInitialized();
    }

    protected override void ConfigureState(LiveState<DateTime>.Options options)
        => options.WithUpdateDelayer(0.5);

    protected override Task<DateTime> ComputeStateAsync(CancellationToken cancellationToken)
        => Time.GetTimeAsync(cancellationToken);

    private void Refresh()
    {
        State.Invalidate();
        State.CancelUpdateDelay();
    }
}
