@page "/todo"
@using System.Threading
@using Templates.Blazor2.Abstractions
@inherits LiveComponentBase<Todo[]>
@inject ITodoService Todos
@inject Session Session
@inject CommandRunner CommandRunner

@{
    var error = State.Error;
    var todos = State.UnsafeValue ?? Array.Empty<Todo>(); // UnsafeValue returns default if there is an Error
}

<h1>Todo List</h1>

<AuthorizeView>
    <NotAuthorized>
        <SignInDropdown Why="to use this page"/>
        <Paragraph>
            The error message below will go away as soon as you sign in.
        </Paragraph>
    </NotAuthorized>
</AuthorizeView>

<WhenException Exception="error"/>
<WhenCommandError Exception="CommandRunner.Error"/>

<Row><Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnTablet">
    <Text>Updated: <MomentsAgoBadge Value="LastStateUpdateTime" /></Text>

    @foreach(var todo in todos) {
        <Addons Margin="Margin.Is3.OnY">
            <Addon AddonType="AddonType.Start">
                <AddonLabel>
                    <Blazorise.Icon Name="@(todo.IsDone ? FontAwesomeIcons.CheckSquare : FontAwesomeIcons.Square)"
                                    @onclick="_ => InvertDoneAsync(todo)" />
                </AddonLabel>
            </Addon>
            <TextEdit TextChanged="text => UpdateTitleAsync(todo, text)" ChangeTextOnKeyPress="false"
                      Text="@todo.Title"/>
            <Addon AddonType="AddonType.End">
                <Button Clicked="_ => RemoveAsync(todo)" Color="Color.Warning">
                    <Blazorise.Icon Name="FontAwesomeIcons.Minus"/>
                </Button>
            </Addon>
        </Addons>
    }

    @if (HasMore) {
        <Button Clicked="_ => LoadMore()" Color="Color.Primary" Margin="Margin.Is3.OnY">
            Load more <Blazorise.Icon Name="FontAwesomeIcons.AngleDoubleDown"/>
        </Button>
    }

    <Form @onsubmit="_ => CreateAsync()" Margin="Margin.Is3.OnY" >
        <Addons>
            <Addon AddonType="AddonType.Start">
                <Button Type="@ButtonType.Submit" Color="Color.Primary">
                    <Blazorise.Icon Name="@FontAwesomeIcons.PlusSquare"/>
                </Button>
            </Addon>
            <input @bind="NewTodoTitle" @bind:event="onchange" class="form-control"/>
        </Addons>
    </Form>

</Column></Row>

@code {
    private int PageSize { get; set; } = 5;
    private bool HasMore { get; set; }
    private string NewTodoTitle { get; set; } = "";
    private DateTime LastStateUpdateTime { get; set; } = DateTime.UtcNow;

    protected override void OnInitialized()
    {
        CommandRunner.Component = this;
        base.OnInitialized();
    }

    protected override async Task<Todo[]> ComputeStateAsync(CancellationToken cancellationToken)
    {
        var items = await Todos.ListAsync(Session, PageSize + 1, cancellationToken);
        HasMore = items.Length > PageSize;
        if (HasMore)
            items = items[0..PageSize];
        LastStateUpdateTime = DateTime.UtcNow;
        return items;
    }

    private void LoadMore()
    {
        PageSize *= 2;
        InvalidateState();
    }

    private Task InvertDoneAsync(Todo todo)
    {
        todo = todo with { IsDone = !todo.IsDone };
        return CommandRunner.CallAsync(new AddOrUpdateTodoCommand(Session, todo));
    }

    private Task UpdateTitleAsync(Todo todo, string title)
    {
        title = title.Trim();
        if (todo.Title == title)
            return Task.CompletedTask;
        todo = todo with { Title = title };
        return CommandRunner.CallAsync(new AddOrUpdateTodoCommand(Session, todo));
    }

    private Task RemoveAsync(Todo todo)
        => CommandRunner.CallAsync(new RemoveTodoCommand(Session, todo.Id));

    private Task CreateAsync()
    {
        var todo = new Todo("", NewTodoTitle);
        NewTodoTitle = "";
        StateHasChanged();
        return CommandRunner.CallAsync(new AddOrUpdateTodoCommand(Session, todo));
    }
}
