@page "/composition"
@inherits LiveComponentBase<CompositionUI>
@inject ILogger<Composition> Log

@{
    var model = @Model;
    var lastUpdateError = LiveModel.LastUpdateError; 
}

<h1>Composition</h1>

@if (lastUpdateError != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @lastUpdateError.Message
    </div>
}

<div class="input-group pb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Parameter</span>
    </div>
    <input class="form-control" 
           @bind-value="@(model.Parameter)"
           @bind-value:event="oninput" />
</div>

<div class="d-flex">
    <div class="col-4">
        <ComposedValueCard
            Title="Locally composed value"
            Source="@model.LocallyComposedValue"/>
    </div>
    <div class="col-4">
        <ComposedValueCard
            Title="Remotely composed value"
            Source="@model.RemotelyComposedValue"/>
    </div>
</div>
