@page "/"

<div class="jumbotron">
    <h1 class="display-4">Welcome!</h1>
    <p class="lead">This is Stl.Fusion Blazor sample.</p>
    <p class="lead">Please share your feedback once you're done with it!</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Share your feedback</a>
    </p>
</div>
