@page "/serverScreen"
@inherits LiveComponentBase<ServerScreenUI>
@inject ILogger<ServerScreen> Log

@{
    var lastUpdateError = Live.LastUpdateError; 
}

<h1>Server Screen</h1>

@if (lastUpdateError != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @lastUpdateError.Message
    </div>
}

<p><img src="data:image/png;base64, @Model.Screenshot.Base64Content" alt="Server screen" width="100%" /><br/></p>
