@page "/serverScreen"
@inherits LiveComponentBase<ServerScreenState.Local, ServerScreenState>

@{
    var lastUpdateError = LiveState.LastUpdateError; 
}

<h1>Server Screen</h1>

@if (lastUpdateError != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @lastUpdateError.Message
    </div>
}

<p><img src="data:image/png;base64, @State.Screenshot.Base64Content" alt="Server screen" width="100%" /><br/></p>
