@page "/serverTime"
@inherits LiveComponentBase<ServerTimeUI>
@inject ILogger<ServerTime> Log

@{
    var lastUpdateError = LiveModel.LastUpdateError; 
}

<h1>Server Time</h1>

<p>Server Time: @(Model.FormattedTime)</p>

@if (lastUpdateError != null) {
    <div class="alert alert-warning" role="alert">
        Update error: @lastUpdateError.Message
    </div>
}

<button class="btn btn-primary" @onclick="() => UpdateDelayer.CancelDelays()">Refresh</button>
